.d-none {
    display: none !important;
}

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Roboto", serif;
    font-size: 1rem;
    box-sizing: border-box;

    html {
        font-size: 16px;
    }

}
main{
    text-align: center;
    padding: 50px;
}
.jumbotron {
    background-color: #DEDEDE;
    padding: 1.5rem;
    border-radius: 0.3rem;
    margin: 0 auto;
    width: 50%;
    max-width: 500px;
}
.text-center {
    text-align: center;
}
form{
    background-color: white;
    padding: 1.5rem;
    border-radius: 0.3rem;
    margin: 0 auto;
    width: 50%;
    max-width: 500px;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.2);
}
